<div class="create-task-view">
  <button class="btn btn-secondary button-back" (click)="goBack()">Back</button>
  <form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" class="form-create-task-view">
    <div class="form-group">
      <span class="label-input-title">Title</span>
      <input type="text" id="title-task" formControlName="title" class="form-control" placeholder="Tile">
      <input type="text" id="description-task" formControlName="description" class="form-control"
        placeholder="Description">
    </div>
    <div class="form-group">
      <span class="label-input-title">Status</span>
      <div class="status-task">
        <div class="form-check form-check-status-task" *ngFor="let item of listCategory; index as i;">
          <input class="form-check-input" type="radio" formControlName="statusTask" id="status_{{i}}"
            [value]="item.id">
          <label class="form-check-label" for="status_{{i}}">
            {{item.name}}
          </label>
        </div>
      </div>
    </div>
    <div class="button-task">
      <button type="submit" class="btn btn-primary action-button-task">Save</button>
      <button type="button" class="btn btn-secondary action-button-task" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>
