<div class="main-body">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group login-item">
      <label for="userName">User Name</label>
      <input class="form-control" formControlName="userName" type="text" id="userName">
    </div>
    <div class="form-group login-item">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" type="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary button-login">Login</button>
  </form>
</div>
