body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.main-body {
  margin-top: 10px;
  padding: 0 50px 0 50px;
}

.main-left-menu {
  display: flex;
  align-items: center;
}

.main-left-menu li {
  padding: 0 10px 0 5px;
}

.task-types {
  border: 1px solid;
  padding: 5px 5px 0 5px;
  background-color: #dddce7;
}

.task-header-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.task-header-done {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.task-header-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.task-icon {
  height: 64px;
  width: 64px;
}

.task-add-icon {
  height: 48px;
  width: 48px;
}

.task-button-add {
  margin: 10px 0 10px 10px;
  padding: 5px;
}

.task-button-add span {
  margin-left: 5px;
  font-size: 11px;
}

.task-title {
  padding-left: 5px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
}

.label-input-title {
  font-weight: 600;
}

.button-task {
  display: flex;
  justify-content: flex-end;
}

.action-button-task {
  margin: 5px;
}

.create-task-view {
  padding: 100px;
}

.form-create-task-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-create-task-view input {
  margin: 5px;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  border-left: 4px solid red;
}

input.ng-touched.ng-invalid:focus {
  color: #212529;
  background-color: #fff;
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(253 68 13 / 25%);
}

.tag-action-label {
  border: 1px solid;
  border-bottom: unset;
  width: 50px;
  text-align: center;
}

.button-back {
  margin-bottom: 50px;
}

.status-task {
  display: flex;
}

.form-check-status-task {
  margin-left: 20px;
  margin-right: 20xp;
}

.action-vew-edit-task {
  display: flex;
  justify-content: flex-end;
}

.action-vew-edit-task label {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.task-item-select td {
  cursor: pointer;
}

.specific-task-done {
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
}

.specific-task-done-close {
  border: 1px solid;
  border-radius: 50%;
  float: right;
}

.specific-task-detail-view {
  margin: 20px;
}

.user-item {
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
}

.user-icon {
  width: 100%;
  padding: 40px;
}
.user-item-title {
  background-color: #3a6073;
  text-align: center;
  padding: 5px;
}

.user-item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-icon-schedule {
  height: 30px;
  width: 30px;
}

.button-schedule {
  text-align: center;
  border: unset;
  background-color: #fff;
  padding: 5px;
}

.user-item-action {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.task-item-position {
  padding: 5px;
  width: 100%;
  text-align: center;
}

.action-user {
  margin: 10px 10px 10px 0px;
}

.schedule-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
}

.schedule-header {
  display: flex;
  align-items: center;
}

.schedule-action {
  display: flex;
  justify-content: space-around;
}

.schedule-body {
  vertical-align: bottom;
}

.schedule-action-add {
  margin-bottom: 20px;
}

.login-form {
  padding: 200px;
}

.login-item {
  margin: 20px;
}

.button-login {
  margin-top: 10px;
  margin-left: 20px;
}

.login-header{
  background-color: slategray;
  height: 30px;
  display: flex;
  color: beige;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
