<div class="task-types">
  <div class="task-header-new">
    <span class="task-title">New Tasks</span>
    <img src="../../../assets/icon/task_new.ico" class="task-icon">
  </div>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let item of listTask; index as i;" class="task-item-select">
        <td>
          <app-task-item [taskItem]="item"></app-task-item>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" id="btnAddTask" class="task-button-add btn btn-primary" (click)="onClick()">
    <fa-icon [icon]="faList"></fa-icon><span>Add</span>
  </button>
</div>
