<div class="main-body">
  <button class="btn btn-primary schedule-action-add"
    (click)="changeAction('CREATE', '', '',0)">{{actionCreate}}</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/title_schedule.ico" class="schedule-icon">Title
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/creator.ico" class="schedule-icon">Creator
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/description.ico" class="schedule-icon">Description
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/locstion.ico" class="schedule-icon">
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/time_end_start.ico" class="schedule-icon">Time Start
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/time_end_start.ico" class="schedule-icon">Time End
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="schedule-body" *ngIf="isCreate" [formGroup]="scheduleCreateForm">
        <td>
          <input type=" text" id="title" class="form-control" formControlName="title" placeholder="Title">
        </td>
        <td>
          <input type="text" id="description" class="form-control" formControlName="description"
            placeholder="Description">
        </td>
        <td>
          <kendo-combobox [data]="listScheduler" textField="name" valueField="id" formControlName="scheduler">
          </kendo-combobox>
        </td>
        <td>
          <input type="text" id="location" class="form-control" formControlName="location" placeholder="Location">
        </td>
        <td>
          <kendo-datepicker [(value)]="startDate"></kendo-datepicker>
        </td>
        <td>
          <kendo-datepicker [(value)]="endDate"></kendo-datepicker>
        </td>
        <td>
          <div class="schedule-action">
            <button class="btn btn-primary" type="submit" (click)="onSubmit('CREATE')">Create</button>
          </div>
        </td>
      </tr>
      <tr *ngFor="let item of listSchedule; index as i;" class="schedule-body" [formGroup]="scheduleEditForm">
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">
            {{item.title}}
          </div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <input type="text" id="title" class="form-control" formControlName="title" placeholder="Title">
          </div>
        </td>
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">
            {{item.scheduler.name}}
          </div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <input type="text" id="description" class="form-control" formControlName="description"
              placeholder="Description">
          </div>
        </td>
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">{{item.description}}</div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <kendo-combobox [data]="listScheduler" textField="name" valueField="id" formControlName="scheduler">
            </kendo-combobox>
          </div>
        </td>
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">{{item.location}}</div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <input type="text" id="location" class="form-control" formControlName="location" placeholder="Location">
          </div>
        </td>
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">{{item.startDate}}</div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <kendo-datepicker [(value)]="startDate"></kendo-datepicker>
          </div>
        </td>
        <td>
          <div *ngIf="!(item.id == scheduleIdSelected)">{{item.endDate}}</div>
          <div class="form-group" *ngIf="item.id == scheduleIdSelected">
            <kendo-datepicker [(value)]="endDate"></kendo-datepicker>
          </div>
        </td>
        <td>
          <div class="schedule-action">
            <button class="btn btn-info" *ngIf="!(item.id == scheduleIdSelected)">Detail</button>
            <button class="btn btn-dark" (click)="changeAction('EDIT', item.startDate, item.endDate, item.id)"
              *ngIf="!(item.id == scheduleIdSelected)">Edit</button>
            <button class="btn btn-dark" (click)="changeAction('CANCEL', item.startDate, item.endDate, item.id)"
              *ngIf="item.id == scheduleIdSelected">Cancel</button>
            <button class="btn btn-primary" *ngIf="item.id == scheduleIdSelected" type="submit"
              (click)="onSubmit('EDIT')">Update</button>
            <button class="btn btn-danger" *ngIf="!(item.id == scheduleIdSelected)"
              (click)="deleteSchedule(item.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
