<div (click)="onClick(taskItem.id)" *ngIf="!isShowSpecific">
  {{taskItem.title}}
</div>
<div *ngIf="isShowSpecific" class="specific-task-done">
  <span class="specific-task-done-close" (click)="closeSpecific()">X</span>
  <app-specific-task [specificTask]="taskItem"></app-specific-task>
</div>
