<div class="task-types">
  <div class="task-header-progress">
    <span class="task-title">Tasks in progress</span>
    <img src="../../../assets/icon/task_progress.ico" class="task-icon">
  </div>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let item of listTask; index as i;" class="task-item-select">
        <td>
          <app-task-item [taskItem]="item"></app-task-item>
        </td>
      </tr>
    </tbody>
  </table>
</div>
