<div class="create-task-view">
  <button class="btn btn-secondary button-back" (click)="goBack()">Back</button>
  <div class="action-vew-edit-task">
    <label (click)="switchTag('VIEW')">View</label>|
    <label (click)="switchTag('EDIT')">Edit</label>
  </div>
  <div *ngIf="!isEdit">
    <h3>{{specificTask.title}}</h3>
    <h6>{{specificTask.description}}</h6>
  </div>
  <form [formGroup]="editFormTask" (ngSubmit)="onSubmit()" class="form-create-task-view" *ngIf="isEdit">
    <div class="form-group">
      <span class="label-input-title">Title</span>
      <input type="text" id="title-task-edit" formControlName="title" class="form-control" placeholder="Tile">
      <input type="text" id="description-task-edit" formControlName="description" class="form-control"
        placeholder="Description">
    </div>
    <div class="form-group">
      <span class="label-input-title">Status</span>
      <div class="status-task">
        <div class="form-check form-check-status-task" *ngFor="let item of listCategory; index as i;">
          <input class="form-check-input" type="radio" formControlName="statusTask" id="status_{{i}}_edit"
            [value]="item.id" [checked]="item.id == specificTask.statusTask">
          <label class="form-check-label" for="status_{{i}}_edit">
            {{item.name}}
          </label>
        </div>
      </div>
    </div>
    <div class="button-task" *ngIf="isEdit">
      <button type="submit" class="btn btn-primary action-button-task">Update</button>
      <button type="button" class="btn btn-danger action-button-task"
        (click)="deleteTask(specificTask.id)">Delete</button>
      <button type="button" class="btn btn-secondary action-button-task" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>
