<div class="main-body">
  <div class="action-user">
    <button class="btn btn-primary" (click)="addUser()">{{userAction}}</button>
  </div>
  <div class="row">
    <app-user-item class="col-sm-3 col-nd-3 col-lg-3" [isCreate]="isCreate" *ngIf="isCreate" (reload)="reloadScheduler($event)"></app-user-item>
    <app-user-item *ngFor="let item of listScheduler; index as i;" [schedulerItem]="item"
      class="col-sm-3 col-nd-3 col-lg-3" (reload)="reloadScheduler($event)"></app-user-item>
  </div>
</div>
