footer {
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  color: white;
  padding: 10px 0 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.copy {
  font-size: 13px;
}

.footer-middle {
  color: white;
}

.text-center {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
}
