<footer role="contentinfo">
  <div class="footer-middle">
      <div class="container">
          <div class="row">
              <div class="col-md-12 copy">
                  <p class="text-center">&copy; Copyright {{currentDate}}</p>
              </div>
          </div>
      </div>
  </div>
</footer>
