<h3>{{specificTask.title}} - Detail View</h3>
<div class="form-group row specific-task-detail-view">
  <label for="specificTitle" class="col-sm-3 col-form-label">Title</label>
  <div class="col-sm-9">
    <input id="specificTitle" [value]="specificTask.title" readonly class="form-control">
  </div>
</div>
<div class="form-group row specific-task-detail-view">
  <label for="specificDescription" class="col-sm-3 col-form-label">Description</label>
  <div class="col-sm-9">
    <input id="specificDescription" [value]="specificTask.description" readonly class="form-control">
  </div>
</div>
