<div class="main-body">
  <div class="tasks-dashboard row">
    <div class="col-ms-4 col-lg-4 task-type-items">
      <app-tasks-new [listTask]="newTasks"></app-tasks-new>
    </div>
    <div class="col-ms-4 col-lg-4 task-type-items">
      <app-tasks-in-progress [listTask]="inProgressTasks"></app-tasks-in-progress>
    </div>
    <div class="col-ms-4 col-lg-4 task-type-items">
      <app-tasks-done [listTask]="doneTasks"></app-tasks-done>
    </div>
  </div>
  <!-- <div>
    <app-create-task></app-create-task>
  </div> -->
</div>
