<div class="user-item">
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="user-item-title form-group">
      <h4 *ngIf="!isEdit && !isCreate">{{schedulerItem.name}}</h4>
      <input type="text" *ngIf="isEdit || isCreate" class="form-control" formControlName="name" placeholder="Name">
    </div>
    <div class="user-item-body">
      <img src="../../../assets/icon/avatar.ico" alt="avatar" class="user-icon">
      <div class="task-item-position form-group">
        <h6 *ngIf="!isEdit && !isCreate">{{schedulerItem.position}}</h6>
        <input type="text" *ngIf="isEdit || isCreate" class="form-control" formControlName="position"
          placeholder="Position">
      </div>
      <button class="button-schedule" (click)="viewSchedules(schedulerItem.id)" [disabled]="isCreate"><img
          src="../../../assets/icon/calender.ico" alt="calender" class="user-icon-schedule">Schedule</button>
    </div>
    <div class="user-item-action">
      <button class="btn btn-light" *ngIf="isEdit && !isCreate" (click)="changeToEdit()">Cancel</button>
      <button class="btn btn-light" (click)="changeToEdit()" *ngIf="!isEdit && !isCreate">Edit</button>
      <button class="btn btn-primary" *ngIf="isEdit && !isCreate" type="submit"
        [disabled]="editUserForm.invalid">Update</button>
      <button class="btn btn-primary" *ngIf="isCreate" type="submit" [disabled]="editUserForm.invalid">Create</button>
      <button class="btn btn-danger" (click)="deleteUser(schedulerItem.id)" *ngIf="!isCreate">Remove</button>
    </div>
  </form>
</div>
