<div class="main-body">
  <button class="btn btn-secondary button-back" (click)="goBack()">Back</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/title_schedule.ico" class="schedule-icon">Title
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/creator.ico" class="schedule-icon">Creator
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/description.ico" class="schedule-icon">Description
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/locstion.ico" class="schedule-icon">
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/time_end_start.ico" class="schedule-icon">Time Start
          </div>
        </th>
        <th>
          <div class="schedule-header">
            <img src="../../assets/icon/time_end_start.ico" class="schedule-icon">Time End
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listSchedule; index as i;" class="schedule-body">
        <td>
          {{item.title}}
        </td>
        <td>
          {{item.scheduler.name}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          {{item.location}}
        </td>
        <td>
          {{item.startDate}}
        </td>
        <td>
          {{item.endDate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
