<tr>
  <td>
    <div *ngIf="!isEdit && !isCreate">
      {{scheduleItem.title}}
    </div>
    <div class="form-group">
      <input type="text" id="title" class="form-control">
    </div>
  </td>
  <td>
    <div *ngIf="!isEdit && !isCreate">
      {{scheduleItem.scheduler.name}}
    </div>

  </td>
  <td>
    <div *ngIf="!isEdit && !isCreate">{{scheduleItem.description}}</div>
  </td>
  <td>
    <div *ngIf="!isEdit && !isCreate">{{scheduleItem.location}}</div>

  </td>
  <td>
    <div *ngIf="!isEdit && !isCreate">{{scheduleItem.startDate}}</div>

  </td>
  <td>
    <div *ngIf="!isEdit && !isCreate">{{scheduleItem.endDate}}</div>

  </td>
  <td>
    <div class="schedule-action">
      <button class="btn btn-secondary">Detail</button>
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </td>

</tr>
